@model Carro

@{
    ViewData["Title"] = "Cadastrar carro";
}


<div class="text">
    <h1 class="display-4">Cadastrar carro</h1>
    <hr>
       
</div>
<div class="container">
    <form asp-controller="Admin" asp-action="CadastroCarro" method="POST">
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input type="text" asp-for="Id" class="form-control" required>
        </div>          
        <div class="form-group" >
            <label asp-for="Marca">Marca</label>
            <input type="text" asp-for="Marca" class="form-control" required>
            <span asp-validation-for="Marca"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Modelo">Modelo</label>
            <input type="text" asp-for="Modelo" class="form-control" required>
            <span asp-validation-for="Modelo"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Placa">Placa</label>
            <input type="text" asp-for="Placa" class="form-control" required>
            <span asp-validation-for="Placa"></span>
        </div> 
        <div class="form-group" >
            <label asp-for="Ano">Ano</label>
            <input type="text" asp-for="Ano" class="form-control" required>
        </div> 
        
        
        <button type="submit" class="btn btn-primary mt-3">Finalizar Cadastro</button>
    </form>
</div>