@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo a Marlin Motors</h1>
    
    <a class="btn btn-outline-primary danger btn-large btn-block"
                        asp-controller="admin" 
                        asp-action="Index" 
                    >NÃO APERTE ESSE BOTÃO CASO NÃO TENHA PERMISSÃO PARA ACESSAR O SISTEMA</a>

</div>
